//Variables
$primary-color: #f1f4f9;
$secondary-color: #163844;
$background-color: #163844;
$glyph-color: #FFF;
$link-color: #E6E2AF;
$font: 'Lato', sans-serif;

$buy-color: #199900;
$hold-color: #DE8A00;
$sell-color: #D40D12;

//Mixins
//Transitions
// @mixin rotate {-webkit-transition-duration: 1.8s;-moz-transition-duration: 1.8s;-o-transition-duration: 1.8s;transition-duration: 1.8s;-webkit-transition-property: -webkit-transform;-moz-transition-property: -moz-transform;-o-transition-property: -o-transform;transition-property: transform;overflow:hidden;  }
@mixin rotate {-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);}
@mixin colortransition {transition: color 2.5s ease;}
@mixin bgtransition {transition: background-color 2s ease;}

//Link effects
@mixin bracket-transform {display: inline-block;opacity: 0;-webkit-transition: -webkit-transform 1.3s, opacity 0.2s;-moz-transition: -moz-transform 1.3s, opacity 0.2s;transition: transform 1.3s, opacity 0.2s;}
@mixin bracket-left {content: '[';-webkit-transform: translateX(20px);-moz-transform: translateX(20px);transform: translateX(20px);}
@mixin bracket-right {content: ']';-webkit-transform: translateX(-20px);-moz-transform: translateX(-20px);transform: translateX(-20px);}
@mixin bracket-opacity {opacity: 1;-webkit-transform: translateX(0px);-moz-transform: translateX(0px);transform: translateX(0px);}
//Full width colours
@mixin fullleft {display: block;content: "";position: absolute;width: 200%;top: 0;bottom: 0;margin: 0;right: 100%;}
@mixin fullright {display: block;content: "";position: absolute;width: 200%;top: 0;bottom: 0;margin: 0;left: 100%;}

//Tekstelementer
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
a:focus,
a:active,
{outline:0 !important;-webkit-appearance:none;}

h1,h2,h3,h4 {font-weight:300;}

p, td {font-size:1.2em;}
a {color:$primary-color;}
a:hover {text-decoration:none;color:$link-color;@include colortransition;}
ul li {list-style: none;display:inline-block;}
input[type="text"], textarea {outline: none;box-shadow:none !important;font-size:1.3em;  }

.buy-signal {color:$buy-color;}
.hold-signal {color:$hold-color;}
.sell-signal {color:$sell-color;}

.disclaimer {font-style:italic;font-size:0.9em;}

//Hover effects
.brackets-effect a::before {
  @include bracket-transform;
  @include bracket-left;
  margin-right: 10px;
}

.brackets-effect a::after {
  @include bracket-transform;
  @include bracket-right;
  margin-left: 10px;
}

.brackets-effect a:hover::before,
.brackets-effect a:hover::after,
.brackets-effect a:focus::before,
.brackets-effect a:focus::after {
  @include bracket-opacity;
}

//Buttons
.btn {border-radius:0;}
.btn-primary {background-color:$primary-color;color:$secondary-color;font-size:1.3em;border:none;
  &:hover {background-color:$secondary-color;color:$link-color;border:none;}}

//Main containers
body {font-family: $font;font-weight:300;background:$primary-color;color:$secondary-color;margin-top:99px;overflow-x:hidden;}
.container {}

.second, .fourth, .sixth {
  color:$primary-color;
  background:$background-color;
  &:before {background:$background-color;}
  &:after {background:$background-color;}
}

.first, .second, .third, .fourth, .fifth, .sixth {
  position:relative;
  text-align:center;
  .row:first-of-type {padding-top:50px;}
  .row:last-of-type {padding-bottom:70px;}
  &:before { @include fullleft }
  &:after { @include fullright }
}

.first {
  .glyphicon {font-size:30px;top: 9px;left: -43px}
  input {height:50px;width:60%;padding: 4px 13px;margin:10px 0 0 36px;@include bgtransition;border:1px solid $secondary-color;
  &:focus{background:$secondary-color;color:#fff;border:1px solid #fff;}}
  .stock-search {}
  .row:first-of-type {padding-top:110px;}
  .row:last-of-type {padding-bottom:170px;}
}

.second {
  .table {margin-top:3px;}
  .disclaimer {text-align:left;margin-top:45px;}
  .brackets-effect a {color:$primary-color;font-size:1.6em;@include colortransition;
    &:hover {color:$link-color;}}
  .table tbody tr td {padding:14px 0 10px 0;border-top:1px solid $primary-color;
    img {border-radius:50%;width:40px;}
    &:nth-last-child(1) {padding:6px 0 6px 0;}
    .glyphicon {font-size:28px;margin-left:12px;}}
  .table thead tr td {padding:14px;font-size:1.3em;background:$primary-color;color:$secondary-color;
    .glyphicon {font-size:26px;margin-left:6px;}
  .glyphicon-transfer {@include rotate;margin-left:0;}}
}

.third {
  .glyphicon {font-size:80px;margin: 10px 0 20px 0;}
}

.fourth {
  img {border-radius:50%;width:100px;margin:30px 0 10px 0;}
  .col-sm-4 p:last-child {margin:10px 80px;padding-top:10px;border-top:1px solid $link-color;}
}

.fifth {
  .glyphicon {font-size:35px;margin:30px 10px 20px 10px;}
  a {color:$secondary-color;font-size:0.8em;
  &:hover {color:$secondary-color;}}
}

//Navigation elements
.navbar {margin:0;}
.navbar-default {background:$background-color;color:$primary-color;min-height:70px;border-color:#fff;
  .container{padding-top:7px;font-size:20px;}
  .navbar-header a {font-size:0.8em;}
  .navbar-right .glyphicon {
    font-size:30px;top:9px;left: 5px;
  }
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {color:#fff;@include colortransition;font-size:0.9em;
  &:hover {color:$link-color;}
  &:focus {color:$primary-color;box-shadow:none !important;}
}
.navbar-default .navbar-brand {color:$link-color;}

//Images
.glyphicon {}

//Modals
.modal-dialog {margin-top:180px;width:400px;}
.modal-header {a {color:$secondary-color;font-weight:400;}}
.modal-title {padding-bottom:10px;
  .glyphicon {font-size:11px;top:0;}}
.modal-content {border-radius:0;border:none;background:$primary-color;box-shadow:none;text-align:center;
img {width:30px;margin-bottom:10px;}}
.modal-body {padding:25px;}




