// ====== // ===== // Colours // ====== // ===== //
$primary:rgb(38, 42, 51); // #f1f4f9; // #263248;
$secondary: rgb(255, 255, 255); //#2d3135; // #7E8AA2;
$third:rgb(0, 139, 255); //#FF9800

$oprimary:rgba(38, 42, 51, 0.85);
$tprimary:rgba(38, 42, 51, 0.65);
$iprimary:rgba(38, 42, 51, 0.35);
$osecondary:rgba(255, 255, 255, 0.95);
$isecondary:rgba(255, 255, 255, 0.1);
$tthird:rgba(0, 139, 255, 0.7);
$othird:rgba(0, 139, 255, 0.3);
$ithird:rgba(0, 139, 255, 0.17);
$fourth:#00aeff;

$yellow:#e8e500; //rgba(252, 255, 0, 1)
$darkGrey: #212320;
$lightGrey: #DDDDDD;
$signalHover: #E6E2AF;
$mediumOverlay: rgba(241, 244, 249, 0.6);
$darkOverlay: rgba(0, 0, 0, 0.2);

$buy: #2d9f00; //199900
$hold: #dddddd;
$sell: #FF0000;
$positive: #37c200;
$negative: #FF0000;

// ====== // ===== // Fonts // ====== // ===== //
$font: 'Lato', sans-serif;

// ====== // ===== // z-indexes // ====== // ===== //
$zdex0: 10;
$zdex1: 20;
$zdex2: 30;
$zdex3: 40;