textarea:active,
textarea:focus,
button:focus,
button:active,
a:focus,
a:active {
  outline: 0 !important;
  -webkit-appearance: none;
  text-underline: none;
  text-decoration: none; }

h1, h2, h3, h4 {
  font-weight: 300; }

h3.pull-left {
  margin: 15px 0 0 0; }

h1 {
  font-size: 2.4em; }

p, td {
  font-size: 1.1em; }

a {
  color: #262a33;
  transition: color 0.8s ease-in-out;
  -webkit-transition: color 0.8s ease-in-out;
  -moz-transition: color 0.8s ease-in-out; }

a:hover {
  text-decoration: none;
  color: white; }

ul li {
  list-style: none;
  display: inline-block; }

input[type="text"], textarea {
  outline: none;
  box-shadow: none !important;
  font-size: 1.3em; }

.cvr-number {
  color: rgba(0, 139, 255, 0.17);
  font-size: 1.05em;
  margin: 13px 0 0 0; }

.most-signals {
  /* border:2px solid $third; */
  border-top: none;
  background: #008bff;
  padding: 10px 8px 10px 8px;
  margin: 0 2px 0 14px; }

.stock-rated {
  background: #262a33; }

.strong-text {
  font-weight: 400; }

.disclaimer {
  font-style: italic;
  font-size: 1em; }

.overall-signal {
  font-size: 0.7em;
  font-weight: 300;
  padding: 9px;
  background: #2d9f00;
  color: white;
  border-bottom: 1px solid #2d9f00; }

.signal-text {
  margin-top: -14px; }

.logout {
  font-size: 0.7em;
  margin: 16px 0 0 8px; }

.stock-title {
  margin: -20px 0 20px 0; }

.friend-checkbox {
  font-size: 24px; }
  .friend-checkbox .disclaimer {
    color: #DDDDDD; }
  .friend-checkbox .checkbox label {
    font-weight: 300;
    transition: color 0.8s ease-in-out;
    -webkit-transition: color 0.8s ease-in-out;
    -moz-transition: color 0.8s ease-in-out; }
    .friend-checkbox .checkbox label:hover {
      color: #008bff; }
  .friend-checkbox input[type="checkbox"] {
    margin: 11px 0 0 -20px; }

.buy {
  color: #2d9f00; }

.hold {
  color: rgba(38, 42, 51, 0.85); }

.sell {
  color: #FF0000; }

.positive {
  color: #37c200; }

.negative {
  color: #FF0000; }

hr {
  color: #262a33;
  border-top: 1px solid #262a33;
  margin-top: 50px; }

.form-control {
  border-radius: 0; }

.fa-asterisk {
  color: #FF0000;
  margin: 0 0 0 3px;
  top: -10px;
  font-size: 12px;
  position: relative; }

.contact-dev {
  margin-top: 24px; }
  .contact-dev i {
    margin: 18px 12px;
    color: #008bff;
    transition: color 0.8s ease-in-out;
    -webkit-transition: color 0.8s ease-in-out;
    -moz-transition: color 0.8s ease-in-out; }
    .contact-dev i:hover {
      color: #262a33; }

.btn {
  border-radius: 0;
  font-weight: 300; }

.container .btn-default {
  border-radius: 0 5px 0 0;
  border: 1px solid #262a33;
  border-bottom: 4px solid #262a33;
  color: white;
  background: #262a33;
  padding: 8px 20px;
  transition: color 0.8s ease-in-out;
  -webkit-transition: color 0.8s ease-in-out;
  -moz-transition: color 0.8s ease-in-out;
  transition: background-color 0.8s ease-in-out;
  -webkit-transition: background-color 0.8s ease-in-out;
  -moz-transition: background-color 0.8s ease-in-out; }
  .container .btn-default:hover, .container .btn-default:focus, .container .btn-default:hover .fa-spin, .container .btn-default:focus .fa-spin {
    color: #262a33;
    background: rgba(0, 139, 255, 0.17); }
  .container .btn-default:hover .fa-spin, .container .btn-default:focus .fa-spin {
    border: none;
    background: none; }
  .container .btn-default .fa-spin {
    margin: 2px 0 0 5px;
    color: white; }

.container .add-signal {
  position: fixed;
  top: 40%;
  right: 0;
  z-index: 10; }
  .container .add-signal .btn-default {
    border-radius: 5px 0 0 5px;
    background: #008bff;
    color: white;
    border-right: 0;
    padding: 12px;
    border: none; }
    .container .add-signal .btn-default:hover {
      border: none;
      background: rgba(0, 139, 255, 0.7); }

.show-more .btn {
  font-size: 1.4em; }

.btn .caret {
  margin-left: 3px; }

.profile-large {
  border-radius: 50%;
  width: 150px; }

html {
  overflow-y: scroll; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background: #262a33;
  color: white;
  margin-top: 70px;
  overflow-x: hidden; }

.container {
  padding: 0 40px; }

.second, .fourth, .sixth {
  color: #262a33;
  background: white; }
  .second:before, .fourth:before, .sixth:before {
    background: white; }
  .second:after, .fourth:after, .sixth:after {
    background: white; }

.first, .second, .third, .fourth, .fifth, .sixth {
  position: relative;
  text-align: center; }
  .first .row:first-of-type, .second .row:first-of-type, .third .row:first-of-type, .fourth .row:first-of-type, .fifth .row:first-of-type, .sixth .row:first-of-type {
    padding-top: 50px; }
  .first .row:last-of-type, .second .row:last-of-type, .third .row:last-of-type, .fourth .row:last-of-type, .fifth .row:last-of-type, .sixth .row:last-of-type {
    padding-bottom: 70px; }
  .first:before, .second:before, .third:before, .fourth:before, .fifth:before, .sixth:before {
    display: block;
    content: "";
    position: absolute;
    width: 200%;
    top: 0;
    bottom: 0;
    margin: 0;
    right: 100%; }
  .first:after, .second:after, .third:after, .fourth:after, .fifth:after, .sixth:after {
    display: block;
    content: "";
    position: absolute;
    width: 200%;
    top: 0;
    bottom: 0;
    margin: 0;
    left: 100%; }

.first {
  color: white; }
  .first .glyphicon {
    font-size: 30px;
    top: 9px;
    left: -43px;
    color: #262a33; }
  .first input {
    height: 50px;
    width: 58%;
    padding: 4px 13px;
    margin: 10px 0 0 36px;
    transition: background-color 0.8s ease-in-out;
    -webkit-transition: background-color 0.8s ease-in-out;
    -moz-transition: background-color 0.8s ease-in-out;
    border: 1px solid white;
    background: white;
    border-radius: 0 5px 0 0; }
    .first input:focus {
      background: #262a33;
      color: #fff;
      border: 1px solid white; }
  .first .row:first-of-type {
    padding-top: 50px; }
  .first .row:last-of-type {
    padding-bottom: 90px; }

.second h1 {
  margin-bottom: 30px; }
.second .table {
  margin-bottom: 16px; }
.second .disclaimer {
  text-align: left;
  margin-top: 45px; }
.second tbody tr:last-of-type {
  border-bottom: 4px solid #262a33; }
.second a {
  color: #262a33;
  transition: color 0.8s ease-in-out;
  -webkit-transition: color 0.8s ease-in-out;
  -moz-transition: color 0.8s ease-in-out; }
  .second a:hover {
    color: white; }
.second .table thead tr td {
  padding: 20px 0 22px 0;
  background: #262a33;
  color: white;
  font-weight: 300;
  font-size: 1.25em; }
  .second .table thead tr td:hover {
    cursor: default; }
  .second .table thead tr td .glyphicon {
    font-size: 24px;
    margin-left: 6px;
    top: 5px; }
  .second .table thead tr td .glyphicon-transfer {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    margin-left: 0; }
.second .table tbody tr {
  font-weight: 400; }
  .second .table tbody tr td {
    padding: 20px 0;
    border-top: none;
    border-bottom: 1px solid #008bff;
    vertical-align: middle; }
    .second .table tbody tr td img {
      border-radius: 50%;
      width: 56px; }
    .second .table tbody tr td .glyphicon {
      font-size: 28px;
      margin-left: 12px; }
.second .table.std-table tbody tr {
  transition: background-color 0.8s ease-in-out;
  -webkit-transition: background-color 0.8s ease-in-out;
  -moz-transition: background-color 0.8s ease-in-out;
  background: rgba(0, 139, 255, 0.17); }
  .second .table.std-table tbody tr td {
    transition: color 0.8s ease-in-out;
    -webkit-transition: color 0.8s ease-in-out;
    -moz-transition: color 0.8s ease-in-out;
    transition: background-color 0.8s ease-in-out;
    -webkit-transition: background-color 0.8s ease-in-out;
    -moz-transition: background-color 0.8s ease-in-out;
    padding: 14px 0;
    /* &:nth-child(-n+2):hover {background:$othird;cursor:pointer;color:$third;} */ }
  .second .table.std-table tbody tr:hover {
    background: rgba(0, 139, 255, 0.3);
    cursor: pointer;
    color: #262a33; }
.second .friend-subscriptions {
  margin-top: 40px; }
.second .table.std-table.popular-stocks tbody tr td {
  padding: 20px 0; }
.second .table.std-table.persons-followed, .second .table.std-table.stocks-followed {
  margin-bottom: 40px; }
  .second .table.std-table.persons-followed thead tr td, .second .table.std-table.stocks-followed thead tr td {
    padding: 16px 4px; }
  .second .table.std-table.persons-followed tbody tr:hover, .second .table.std-table.stocks-followed tbody tr:hover {
    cursor: default;
    background: transparent; }
  .second .table.std-table.persons-followed tbody tr:last-of-type, .second .table.std-table.stocks-followed tbody tr:last-of-type {
    border-color: #262a33; }
  .second .table.std-table.persons-followed tbody tr td, .second .table.std-table.stocks-followed tbody tr td {
    padding: 4px;
    background: rgba(0, 139, 255, 0.3); }
    .second .table.std-table.persons-followed tbody tr td:first-of-type, .second .table.std-table.stocks-followed tbody tr td:first-of-type {
      text-align: left;
      padding-left: 10px;
      background: transparent; }
    .second .table.std-table.persons-followed tbody tr td:last-of-type, .second .table.std-table.stocks-followed tbody tr td:last-of-type {
      width: 60px;
      background: rgba(0, 139, 255, 0.7); }
    .second .table.std-table.persons-followed tbody tr td:first-of-type:hover, .second .table.std-table.stocks-followed tbody tr td:first-of-type:hover {
      cursor: pointer;
      background: rgba(0, 139, 255, 0.7);
      color: white; }
    .second .table.std-table.persons-followed tbody tr td:last-of-type:hover, .second .table.std-table.stocks-followed tbody tr td:last-of-type:hover {
      cursor: pointer;
      background: rgba(38, 42, 51, 0.85);
      color: white; }
    .second .table.std-table.persons-followed tbody tr td .glyphicon, .second .table.std-table.stocks-followed tbody tr td .glyphicon {
      font-size: 15px;
      margin: 0; }
    .second .table.std-table.persons-followed tbody tr td img, .second .table.std-table.stocks-followed tbody tr td img {
      width: 31px;
      margin: 0 10px 0 0; }
.second .table.std-table.stocks-followed tbody tr td {
  padding: 9px; }
.second .overview-subscriptions {
  margin-top: 40px; }
.second .signal-card {
  border-bottom: 15px solid rgba(0, 139, 255, 0.17); }
  .second .signal-card .signal-top {
    background: #262a33;
    color: white;
    padding: 0;
    margin-top: 20px; }
    .second .signal-card .signal-top .col-sm-3 p {
      padding: 16px 0 0 0; }
    .second .signal-card .signal-top .col-sm-3 img {
      width: 55px;
      border-radius: 50%;
      padding: 10px 0; }
    .second .signal-card .signal-top .hold {
      color: white; }
  .second .signal-card .signal-middle, .second .signal-card .signal-bottom {
    text-align: left;
    padding: 20px 30px 0 30px;
    background: rgba(0, 139, 255, 0.17);
    color: #262a33; }
    .second .signal-card .signal-middle img, .second .signal-card .signal-bottom img {
      max-height: 100px;
      margin: 0 10px 0 0;
      border: 1px solid rgba(38, 42, 51, 0.85); }
      .second .signal-card .signal-middle img:hover, .second .signal-card .signal-bottom img:hover {
        border: 1px solid #008bff; }
    .second .signal-card .signal-middle a, .second .signal-card .signal-bottom a {
      color: #008bff;
      transition: color 0.8s ease-in-out;
      -webkit-transition: color 0.8s ease-in-out;
      -moz-transition: color 0.8s ease-in-out; }
      .second .signal-card .signal-middle a:hover, .second .signal-card .signal-bottom a:hover {
        color: #262a33; }
    .second .signal-card .signal-middle .read-more, .second .signal-card .signal-bottom .read-more {
      padding: 5px 10px 7px 10px;
      border-radius: 0 0 0 5px;
      background: #008bff;
      color: white;
      position: relative;
      right: -30px;
      top: -20px;
      font-weight: 300;
      font-size: 1.1em;
      transition: background-color 0.8s ease-in-out;
      -webkit-transition: background-color 0.8s ease-in-out;
      -moz-transition: background-color 0.8s ease-in-out; }
      .second .signal-card .signal-middle .read-more:hover, .second .signal-card .signal-bottom .read-more:hover {
        background: rgba(38, 42, 51, 0.85);
        color: white; }
    .second .signal-card .signal-middle span, .second .signal-card .signal-bottom span {
      margin: 0 0 0 7px;
      top: 2px; }
  .second .signal-card .signal-bottom {
    padding: 0 30px 10px 30px;
    background: rgba(0, 139, 255, 0.17);
    color: #262a33; }
    .second .signal-card .signal-bottom .row:first-of-type {
      padding: 10px 0 !important; }
    .second .signal-card .signal-bottom .row:last-of-type {
      padding-bottom: 0; }
    .second .signal-card .signal-bottom span {
      font-size: 11px;
      margin: 0 4px 0 0;
      top: 0;
      color: #008bff; }

.third {
  color: white; }
  .third .glyphicon {
    font-size: 120px;
    margin: 2px 0 10px 0;
    min-width: 100px; }
  .third .row:last-of-type {
    padding-bottom: 110px; }

.fourth {
  font-weight: 400; }
  .fourth img {
    border-radius: 50%;
    width: 100px;
    margin: 40px 0 22px 0; }
  .fourth .col-sm-4 p:nth-child(3) {
    margin: 10px 80px;
    padding-top: 10px;
    border-top: 1px solid #008bff; }
  .fourth .col-sm-4 p:nth-child(4) {
    font-size: 1em;
    font-style: italic; }

.fifth {
  color: white;
  background: #262a33; }
  .fifth:before {
    background: #262a33; }
  .fifth:after {
    background: #262a33; }
  .fifth .glyphicon {
    font-size: 40px;
    margin: 0 10px 20px 10px;
    color: #008bff; }
  .fifth a {
    color: white;
    font-size: 1em; }
    .fifth a:hover {
      color: #008bff; }
  .fifth .row:first-of-type {
    padding-top: 30px; }
  .fifth .row:last-of-type {
    padding-bottom: 40px; }

.table thead tr td:last-child {
  border-radius: 0 5px 0 0; }

.market-resume > tbody > tr > td {
  border-top: 1px solid white;
  padding: 10px 0; }
  .market-resume > tbody > tr > td:last-of-type {
    text-align: right; }

.market-resume {
  font-size: 0.8em;
  width: 250px;
  margin: 0 auto 0 auto;
  text-align: left;
  border-bottom: 1px solid white;
  color: white; }

.stock-signals {
  margin-top: 20px; }
  .stock-signals tbody tr td {
    width: 33.3%; }

thead tr td a {
  margin: 7px 0 5px 0;
  display: block;
  font-weight: 300;
  font-size: 1.05em; }

.popular-stocks td {
  width: 20%; }

.stock-overview tbody tr:last-of-type {
  border-bottom: none; }
  .stock-overview tbody tr:last-of-type:hover {
    border-bottom: 1px solid #262a33; }

.specific-stock .col-sm-9 {
  padding-left: 0; }
.specific-stock .col-sm-3 {
  padding-right: 0; }

.stock-graph {
  width: 100%;
  margin: 0;
  float: left;
  background: #262a33;
  color: white;
  display: block;
  height: 277px;
  border-left: 1px solid white; }

.tooltip {
  font-size: 1em;
  text-align: center;
  position: fixed;
  background: rgba(38, 42, 51, 0.85);
  color: white;
  padding: 7px 11px 9px 11px;
  border-radius: 0; }

.stock-level {
  position: relative;
  top: -40px;
  background: #008bff;
  color: white;
  padding: 6px 10px;
  right: -20px;
  float: right; }

.navbar {
  margin: 0; }

.navbar-default {
  background: #262a33;
  color: white;
  min-height: 70px;
  border-bottom: 2px solid #008bff;
  z-index: 30; }
  .navbar-default .container {
    padding-top: 7px;
    font-size: 20px; }
  .navbar-default .navbar-header a {
    font-size: 1.2em; }
  .navbar-default .navbar-right .nav-stock-search .search-input {
    margin: -1px 8px 0 0; }
    .navbar-default .navbar-right .nav-stock-search .search-input input[type="text"], .navbar-default .navbar-right .nav-stock-search .search-input textarea {
      padding: 4px 5px 7px 8px;
      color: #262a33;
      font-size: 0.9em;
      border: 1px solid #008bff; }
  .navbar-default .navbar-right .glyphicon {
    font-size: 34px;
    top: 7px;
    right: 22px; }
    .navbar-default .navbar-right .glyphicon:hover {
      color: white; }
  .navbar-default .navbar-nav > li {
    margin: 7px 0 0 30px; }
  .navbar-default .navbar-nav > li.profile-nav {
    margin: 0; }
  .navbar-default .navbar-nav > li.active-menu a {
    color: #00aeff; }
    .navbar-default .navbar-nav > li.active-menu a:hover {
      cursor: default; }
  .navbar-default .navbar-nav > li.profile-nav.active-menu a img:hover {
    cursor: default; }
  .navbar-default .navbar-nav > li.logout, .navbar-default .navbar-nav > li.login {
    margin: 15px 0 0 10px; }
  .navbar-default .navbar-nav li a {
    padding: 0; }
    .navbar-default .navbar-nav li a span {
      font-size: 0.7em;
      display: block;
      margin: 2px 2px 2px 0; }

.navbar-bottom {
  min-height: 46px;
  border: none;
  border-radius: 0; }
  .navbar-bottom .pull-right {
    margin-top: 8px; }
  .navbar-bottom a {
    color: white;
    font-size: 1.6em;
    margin: 0 0 0 22px; }
    .navbar-bottom a:hover {
      color: #008bff; }

.navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
  color: white;
  transition: color 0.8s ease-in-out;
  -webkit-transition: color 0.8s ease-in-out;
  -moz-transition: color 0.8s ease-in-out;
  font-size: 0.9em;
  padding-right: 0; }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
    color: #00aeff; }
  .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav li a:focus {
    color: #008bff;
    box-shadow: none !important; }

.navbar-default .navbar-nav li a img {
  border-radius: 50%;
  width: 50px; }

.navbar-default .navbar-brand {
  color: white; }
  .navbar-default .navbar-brand img {
    width: 150px;
    margin: -10px 36px 0 10px; }

.dropdown-toggle {
  padding: 8px 12px; }

.btn-group.open .dropdown-toggle {
  box-shadow: none; }

.btn-default:focus, .open > .btn-default.dropdown-toggle {
  background: #262a33;
  border-color: #262a33;
  color: white; }

.dropdown-menu {
  border-radius: 0;
  background: #262a33;
  color: white;
  min-width: 123px;
  top: 47px;
  border: none;
  margin: 0;
  padding: 0; }
  .dropdown-menu li a {
    padding: 3px 7px;
    font-weight: 300;
    color: white; }
    .dropdown-menu li a:hover {
      color: #008bff;
      background: none; }

.filter-options {
  margin: 0 0 10px 0; }
  .filter-options .btn, .filter-options .dropdown-menu li a {
    font-size: 1.4em;
    transition: background-color 0.8s ease-in-out;
    -webkit-transition: background-color 0.8s ease-in-out;
    -moz-transition: background-color 0.8s ease-in-out; }
    .filter-options .btn i, .filter-options .dropdown-menu li a i {
      margin-left: 5px; }
  .filter-options .dropdown-menu li a {
    padding: 8px 19px;
    min-width: 125px;
    font-size: 1.25em;
    border-top: 1px solid white; }
  .filter-options .dropdown-menu li a:hover {
    background: #008bff;
    color: white; }

.nav-tabs {
  border-bottom: none; }
  .nav-tabs > li > a {
    border-radius: 0 6px 0 0;
    font-size: 1.2em;
    margin-right: 10px;
    background: rgba(0, 139, 255, 0.3);
    padding: 8px 17px;
    transition: color 0.8s ease-in-out;
    -webkit-transition: color 0.8s ease-in-out;
    -moz-transition: color 0.8s ease-in-out; }
    .nav-tabs > li > a:hover {
      color: #262a33;
      background: #008bff;
      border: 1px solid #008bff; }
  .nav-tabs > li.pull-right, .nav-tabs li {
    margin-right: 0;
    color: white;
    padding: 9px 17px;
    font-size: 1.2em;
    border-radius: 0 5px 0 0; }
    .nav-tabs > li.pull-right:nth-child(1), .nav-tabs li:nth-child(1) {
      background: #008bff;
      transition: background-color 0.8s ease-in-out;
      -webkit-transition: background-color 0.8s ease-in-out;
      -moz-transition: background-color 0.8s ease-in-out; }
      .nav-tabs > li.pull-right:nth-child(1):hover, .nav-tabs li:nth-child(1):hover {
        cursor: pointer;
        background: rgba(38, 42, 51, 0.85); }
    .nav-tabs > li.pull-right:nth-child(2), .nav-tabs li:nth-child(2) {
      background: #008bff;
      color: white;
      transition: background-color 0.8s ease-in-out;
      -webkit-transition: background-color 0.8s ease-in-out;
      -moz-transition: background-color 0.8s ease-in-out;
      margin: 0 0 -1px 8px; }
      .nav-tabs > li.pull-right:nth-child(2):hover, .nav-tabs li:nth-child(2):hover {
        background: rgba(38, 42, 51, 0.85);
        cursor: pointer; }
  .nav-tabs > li.pull-right.buy {
    background: #2d9f00; }
  .nav-tabs > li.pull-right.hold {
    background: #dddddd;
    color: #262a33; }
  .nav-tabs > li.pull-right.sell {
    background: #FF0000; }
  .nav-tabs > li.unfollow-stock {
    background: #dddddd;
    color: #262a33; }
    .nav-tabs > li.unfollow-stock:hover {
      background: #dddddd;
      color: #262a33; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: white;
  background: #262a33;
  border: 1px solid #262a33; }

.profile-tabs .nav-tabs > li.active > a, .profile-tabs .nav-tabs > li.active > a:hover, .profile-tabs .nav-tabs > li.active > a:focus {
  color: white;
  background: #008bff;
  border: 1px solid #008bff; }

.profile-tabs .nav-tabs > .active.stock-tab > a {
  background: #262a33;
  border: 1px solid #262a33; }
  .profile-tabs .nav-tabs > .active.stock-tab > a:hover {
    background: #262a33;
    border: 1px solid #262a33; }
  .profile-tabs .nav-tabs > .active.stock-tab > a:focus {
    background: #262a33;
    border: 1px solid #262a33; }

.progress-bar {
  background: rgba(0, 139, 255, 0.7);
  padding: 3px;
  border-radius: 10px 0 0 10px;
  margin-top: 10px;
  color: white;
  text-align: center; }

.progress {
  background: rgba(0, 139, 255, 0.17);
  border-radius: 10px; }

#index .second .radio {
  display: inline-block;
  padding-right: 36px;
  margin: 4px 0; }
  #index .second .radio label {
    font-weight: 300; }

#about {
  background: url(../images/about_bg.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #about .first {
    color: #262a33;
    background: rgba(255, 255, 255, 0.85); }
    #about .first:after, #about .first:before {
      background: rgba(255, 255, 255, 0.85); }
  #about .fourth {
    color: #262a33;
    background: white; }
    #about .fourth i:hover {
      color: #262a33; }
    #about .fourth:after, #about .fourth:before {
      background: white; }
    #about .fourth .col-sm-4 p {
      font-weight: 300; }
  #about .concept-storyboard {
    margin: 30px 0;
    width: 95px;
    background: rgba(38, 42, 51, 0.85);
    border-radius: 50%; }
  #about .col-sm-12 h4 {
    padding: 0 18%;
    line-height: 1.3em; }
    #about .col-sm-12 h4 .fa-asterisk {
      top: -9px;
      left: -4px;
      font-size: 9px; }
  #about .col-sm-12 .disclaimer {
    margin: 50px 0 -66px 0;
    padding: 0 20%; }
    #about .col-sm-12 .disclaimer .fa-asterisk {
      top: -7px;
      left: 0;
      font-size: 6px; }

#post .first .row:first-of-type {
  padding-top: 50px; }
#post .first .row:last-of-type {
  padding-bottom: 60px; }
#post .first .disclaimer {
  margin: 20px 0 0 0; }
#post .second .radio {
  display: inline-block;
  padding-right: 36px;
  margin: 4px 0; }
  #post .second .radio label {
    font-weight: 300; }

#profile .user-rating i {
  color: #008bff; }
  #profile .user-rating i:hover {
    cursor: pointer; }
#profile .profile-intro {
  margin-top: 20px; }
#profile .navbar-default .navbar-nav li a:hover {
  cursor: pointer; }
#profile .first .disclaimer {
  margin: 20px 0 0 0; }
#profile .first .row:first-of-type {
  padding-top: 50px; }
#profile .first .row:last-of-type {
  padding-bottom: 80px; }
#profile .follow-profile {
  width: 60%;
  margin: 0 auto; }
#profile .profile-description {
  background: #262a33;
  border-radius: 0 5px 0 0; }
  #profile .profile-description p {
    color: white;
    text-align: left;
    padding: 20px; }
  #profile .profile-description .fa-pencil-square-o {
    color: white;
    margin: -31px 5px 0 0;
    transition: color 0.8s ease-in-out;
    -webkit-transition: color 0.8s ease-in-out;
    -moz-transition: color 0.8s ease-in-out; }
    #profile .profile-description .fa-pencil-square-o:hover {
      cursor: pointer;
      color: #008bff; }
#profile .second .row:first-of-type {
  padding-top: 0; }
#profile .second .row:last-of-type {
  padding-top: 16px; }
#profile .signal-card .signal-top .col-sm-3 p {
  padding: 14px 0 15px 0;
  margin: 0; }
#profile .signal-card .signal-top .col-sm-3.own-stock-link p {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  transition: background-color 0.8s ease-in-out;
  -webkit-transition: background-color 0.8s ease-in-out;
  -moz-transition: background-color 0.8s ease-in-out; }
  #profile .signal-card .signal-top .col-sm-3.own-stock-link p:hover {
    cursor: pointer;
    background: #008bff; }

#stock h3.pull-left {
  margin: 20px 0 -10px 0; }
#stock .first .disclaimer {
  margin: 20px 0 0 0; }
#stock .first .row:first-of-type {
  padding-top: 50px; }
#stock .first .row:last-of-type {
  padding-bottom: 80px; }
#stock .nav-tabs {
  border-bottom: 1px solid white; }
#stock .second .row:first-of-type {
  padding-top: 0; }
#stock .second .table thead tr td a {
  margin: 7px 0 5px 0;
  display: block;
  font-weight: 300;
  font-size: 1.05em; }
  #stock .second .table thead tr td a span {
    display: none; }
#stock .stock-overview {
  width: 100%;
  float: left;
  margin-bottom: 1px; }
  #stock .stock-overview thead tr td {
    padding: 12px;
    background: transparent;
    color: white;
    font-size: 1.4em;
    font-weight: 300;
    display: none; }
  #stock .stock-overview tbody {
    background: #262a33;
    color: white; }
    #stock .stock-overview tbody tr:hover {
      cursor: default;
      background: inherit;
      color: inherit; }
    #stock .stock-overview tbody tr td {
      padding: 12px 19px;
      border-bottom: 1px solid white;
      font-weight: 300; }
      #stock .stock-overview tbody tr td:last-of-type {
        padding-right: 0;
        border-right: 1px solid white;
        color: #008bff; }
    #stock .stock-overview tbody tr:last-of-type td {
      border-bottom: 1px solid #262a33; }
    #stock .stock-overview tbody tr:first-of-type td {
      border-top: 1px solid #262a33; }
#stock .stock-news tbody tr td:last-of-type {
  text-align: left;
  padding-top: 14px; }
#stock .stock-news thead tr {
  border-bottom: 1px solid #008bff; }

#stocks .first .disclaimer {
  margin: 20px 0 0 0; }
#stocks .first .row:first-of-type {
  padding-top: 50px; }
#stocks .first .row:last-of-type {
  padding-bottom: 80px; }
#stocks .filter-options .dropdown-menu li a {
  min-width: 179px; }

#subscriptions .second .radio {
  display: inline-block;
  margin-right: 24px; }
#subscriptions .person-subscriptions {
  margin-top: 50px; }
#subscriptions .first .disclaimer {
  margin: 20px 0 0 0; }
#subscriptions .first .row:first-of-type {
  padding-top: 50px; }
#subscriptions .first .row:last-of-type {
  padding-bottom: 80px; }

.modal-header {
  border-bottom: 1px solid rgba(38, 42, 51, 0.35); }
  .modal-header a {
    color: #262a33;
    font-weight: 400; }
    .modal-header a:hover {
      color: #008bff; }
  .modal-header .close {
    color: #262a33;
    opacity: 0.6;
    font-size: 28px; }
    .modal-header .close:hover, .modal-header .close:focus {
      opacity: 1; }

.modal-title {
  padding-bottom: 10px; }
  .modal-title .glyphicon {
    font-size: 11px;
    top: 0; }

.modal-content {
  border-radius: 0;
  border: none;
  background: white;
  color: #262a33;
  box-shadow: none;
  text-align: center; }
  .modal-content img {
    width: 30px;
    margin-bottom: 10px; }

.modal-body {
  padding: 20px; }

#new-signal .navbar-form .form-control {
  display: block; }

#new-signal .modal-content {
  background: white;
  color: #262a33;
  border-radius: 0 5px 0 0; }
  #new-signal .modal-content .rate-area {
    margin: 8px 0 0 0; }
    #new-signal .modal-content .rate-area input, #new-signal .modal-content .rate-area textarea {
      border: 1px solid rgba(38, 42, 51, 0.35);
      background: white;
      padding: 10px;
      min-height: 47px;
      color: #262a33; }
  #new-signal .modal-content .signal-section {
    margin: 0 -15px 20px -15px; }
  #new-signal .modal-content .btn-default {
    font-size: 1.2em; }
  #new-signal .modal-content .show-more {
    margin-top: 20px; }
  #new-signal .modal-content .form-group {
    margin: 0; }
  #new-signal .modal-content h4.pull-left {
    margin: 10px 0 0 15px; }
  #new-signal .modal-content .choose-action {
    margin: -12px 0 0 20px; }
  #new-signal .modal-content .radio {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 40px; }
  #new-signal .modal-content .radio label, #new-signal .modal-content .checkbox label {
    display: inline-block;
    text-align: left;
    padding: 4px 0; }
  #new-signal .modal-content textarea {
    width: 100%;
    min-height: 200px !important; }
  #new-signal .modal-content input {
    max-width: 93%; }
  #new-signal .modal-content .modal-dialog {
    width: 40%; }
  #new-signal .modal-content .modal-body {
    text-align: left; }
    #new-signal .modal-content .modal-body label {
      padding-left: 2px;
      margin-top: 10px;
      font-size: 1.3em;
      font-weight: 300; }
    #new-signal .modal-content .modal-body .col-sm-6 input {
      max-width: 100%; }
    #new-signal .modal-content .modal-body .col-sm-6 h4.pull-left {
      margin: 20px 0 5px 0; }
    #new-signal .modal-content .modal-body .glyphicon-plus {
      top: -37px;
      right: -2px;
      font-size: 24px;
      transition: color 0.8s ease-in-out;
      -webkit-transition: color 0.8s ease-in-out;
      -moz-transition: color 0.8s ease-in-out;
      float: right;
      margin-bottom: -20px;
      color: rgba(38, 42, 51, 0.65); }
      #new-signal .modal-content .modal-body .glyphicon-plus:hover {
        cursor: pointer;
        color: #008bff; }
    #new-signal .modal-content .modal-body .glyphicon-calendar {
      font-size: 24px;
      float: right;
      margin: -38px 9px 0 0;
      color: rgba(38, 42, 51, 0.65);
      transition: color 0.8s ease-in-out;
      -webkit-transition: color 0.8s ease-in-out;
      -moz-transition: color 0.8s ease-in-out; }
      #new-signal .modal-content .modal-body .glyphicon-calendar:hover {
        cursor: pointer;
        color: #008bff; }
  #new-signal .modal-content .filter-options .dropdown-menu {
    background: #262a33;
    top: 45px;
    width: 180px; }
    #new-signal .modal-content .filter-options .dropdown-menu li a {
      min-width: 180px;
      font-size: 1.2em;
      padding: 7px 19px; }

/*body.modal-open {margin-right:-15px !important;} //fixes modal positioning issue with BS*/

/*# sourceMappingURL=custom.css.map */
