textarea:active,
textarea:focus,
button:focus,
button:active,
a:focus,
a:active {
  outline: 0 !important;
  -webkit-appearance: none; }

h1, h2, h3, h4 {
  font-weight: 300; }

h1 {
  font-size: 2.4em; }

p, td {
  font-size: 1.2em; }

a {
  color: #f1f4f9; }

a:hover {
  text-decoration: none;
  color: #00B819;
  transition: color 2.5s ease; }

ul li {
  list-style: none;
  display: inline-block; }

input[type="text"], textarea {
  outline: none;
  box-shadow: none !important;
  font-size: 1.3em; }

.buy-signal {
  color: #199900; }

.hold-signal {
  color: #DE8A00; }

.sell-signal {
  color: #D40D12; }

.disclaimer {
  font-style: italic;
  font-size: 0.9em; }

.brackets-effect a::before {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 1.3s, opacity 0.2s;
  -moz-transition: -moz-transform 1.3s, opacity 0.2s;
  transition: transform 1.3s, opacity 0.2s;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
  margin-right: 10px; }

.brackets-effect a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 1.3s, opacity 0.2s;
  -moz-transition: -moz-transform 1.3s, opacity 0.2s;
  transition: transform 1.3s, opacity 0.2s;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
  margin-left: 10px; }

.brackets-effect a:hover::before,
.brackets-effect a:hover::after,
.brackets-effect a:focus::before,
.brackets-effect a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px); }

.btn {
  border-radius: 0;
  font-weight: 300; }

.btn-primary {
  background-color: #f1f4f9;
  color: #163844;
  font-size: 1.3em;
  border: none; }
  .btn-primary:hover {
    background-color: #163844;
    color: #00B819;
    border: none; }

.btn-default {
  border: 1px solid #f1f4f9;
  background: #163844;
  color: #f1f4f9; }
  .btn-default:hover {
    transition: color 2.5s ease;
    transition: background-color 2s ease;
    background: #f1f4f9;
    color: #163844; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background: #f1f4f9;
  color: #163844;
  margin-top: 99px;
  overflow-x: hidden; }

.container {
  padding: 0 40px; }

.second, .fourth, .sixth {
  color: #f1f4f9;
  background: #163844; }
  .second:before, .fourth:before, .sixth:before {
    background: #163844; }
  .second:after, .fourth:after, .sixth:after {
    background: #163844; }

.first, .second, .third, .fourth, .fifth, .sixth {
  position: relative;
  text-align: center; }
  .first .row:first-of-type, .second .row:first-of-type, .third .row:first-of-type, .fourth .row:first-of-type, .fifth .row:first-of-type, .sixth .row:first-of-type {
    padding-top: 50px; }
  .first .row:last-of-type, .second .row:last-of-type, .third .row:last-of-type, .fourth .row:last-of-type, .fifth .row:last-of-type, .sixth .row:last-of-type {
    padding-bottom: 70px; }
  .first:before, .second:before, .third:before, .fourth:before, .fifth:before, .sixth:before {
    display: block;
    content: "";
    position: absolute;
    width: 200%;
    top: 0;
    bottom: 0;
    margin: 0;
    right: 100%; }
  .first:after, .second:after, .third:after, .fourth:after, .fifth:after, .sixth:after {
    display: block;
    content: "";
    position: absolute;
    width: 200%;
    top: 0;
    bottom: 0;
    margin: 0;
    left: 100%; }

.first .glyphicon {
  font-size: 30px;
  top: 9px;
  left: -43px; }
.first input {
  height: 50px;
  width: 60%;
  padding: 4px 13px;
  margin: 10px 0 0 36px;
  transition: background-color 2s ease;
  border: 1px solid #163844; }
  .first input:focus {
    background: #163844;
    color: #fff;
    border: 1px solid #fff; }
.first .row:first-of-type {
  padding-top: 110px; }
.first .row:last-of-type {
  padding-bottom: 170px; }

.second .table {
  margin-top: 3px; }
.second .disclaimer {
  text-align: left;
  margin-top: 45px; }
.second .brackets-effect a {
  color: #f1f4f9;
  transition: color 2.5s ease; }
  .second .brackets-effect a:hover {
    color: #00B819; }
.second .table thead tr td {
  padding: 14px;
  font-size: 1.3em;
  background: #f1f4f9;
  color: #163844; }
  .second .table thead tr td .glyphicon {
    font-size: 26px;
    margin-left: 6px;
    top: 7px; }
  .second .table thead tr td .glyphicon-transfer {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    margin-left: 0; }
  .second .table thead tr td a {
    color: #163844; }
.second .table tbody tr td {
  padding: 14px 0 10px 0;
  border-top: none;
  border-bottom: 1px solid #f1f4f9; }
  .second .table tbody tr td img {
    border-radius: 50%;
    width: 40px; }
  .second .table tbody tr td:nth-last-child(1) {
    padding: 6px 0 6px 0; }
  .second .table tbody tr td .glyphicon {
    font-size: 28px;
    margin-left: 12px; }
  .second .table tbody tr td a:hover {
    color: #E6E2AF; }

.third .glyphicon {
  font-size: 80px;
  margin: 10px 0 20px 0;
  min-width: 100px; }

.fourth img {
  border-radius: 50%;
  width: 100px;
  margin: 40px 0 22px 0; }
.fourth .col-sm-4 p:nth-child(3) {
  margin: 10px 80px;
  padding-top: 10px;
  border-top: 1px solid #00B819; }
.fourth .col-sm-4 p:nth-child(4) {
  font-size: 1em;
  font-style: italic; }

.fifth .glyphicon {
  font-size: 30px;
  margin: 40px 10px 20px 10px; }
.fifth a {
  color: #163844;
  font-size: 0.8em; }
  .fifth a:hover {
    color: #163844; }

.navbar {
  margin: 0; }

.navbar-default {
  background: #163844;
  color: #f1f4f9;
  min-height: 70px;
  border-color: #fff; }
  .navbar-default .container {
    padding-top: 7px;
    font-size: 20px; }
  .navbar-default .navbar-header a {
    font-size: 0.8em; }
  .navbar-default .navbar-right .glyphicon {
    font-size: 30px;
    top: 9px;
    left: 5px; }

.navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
  color: #fff;
  transition: color 2.5s ease;
  font-size: 0.9em;
  padding-right: 0; }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
    color: #00B819; }
  .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav li a:focus {
    color: #f1f4f9;
    box-shadow: none !important; }

.navbar-default .navbar-nav li a img {
  border-radius: 50%;
  width: 50px; }

.navbar-default .navbar-brand {
  color: #00B819; }

.dropdown-menu {
  border-radius: 0;
  background: #f1f4f9;
  min-width: 145px;
  top: 30px; }
  .dropdown-menu li a {
    padding: 3px 7px;
    font-weight: 300; }

.btn .caret {
  margin-left: 3px; }

.market-resume {
  font-size: 0.8em;
  width: 250px;
  margin: 0 auto 0 auto;
  text-align: left;
  border: 1px solid #DDDDDD; }

.modal-dialog {
  margin-top: 180px;
  width: 400px; }

.modal-header a {
  color: #163844;
  font-weight: 400; }

.modal-title {
  padding-bottom: 10px; }
  .modal-title .glyphicon {
    font-size: 11px;
    top: 0; }

.modal-content {
  border-radius: 0;
  border: none;
  background: #f1f4f9;
  box-shadow: none;
  text-align: center; }
  .modal-content img {
    width: 30px;
    margin-bottom: 10px; }

.modal-body {
  padding: 25px; }

#post .navbar-default .navbar-nav li a {
  padding: 0; }
#post .first .row:first-of-type {
  padding-top: 10px; }
#post .first .row:last-of-type {
  padding-bottom: 70px; }
#post .first .disclaimer {
  margin: 20px 0 0 0; }
#post .radio {
  display: inline-block;
  padding-right: 36px;
  margin: 4px 0; }
  #post .radio label {
    font-weight: 300; }
#post ul li {
  display: block;
  color: #163844;
  padding: 4px; }

.filter-options {
  text-align: left;
  margin-top: 40px;
  padding: 7px 0; }
  .filter-options p {
    border-bottom: 1px solid #f1f4f9;
    padding-bottom: 7px; }

/*# sourceMappingURL=styles.css.map */
