textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
a:focus,
a:active {
  outline: 0 !important;
  -webkit-appearance: none; }

h1, h2, h3, h4 {
  font-weight: 300; }

p, td {
  font-size: 1.2em; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none;
  display: inline-block; }

input[type="text"], textarea {
  outline: none;
  box-shadow: none !important;
  font-size: 1.3em; }

.buy-signal {
  color: #199900; }

.hold-signal {
  color: #DE8A00; }

.sell-signal {
  color: #D40D12; }

.btn {
  border-radius: 0; }

.btn-primary {
  background-color: #f1f4f9;
  color: #163844;
  font-size: 1.3em;
  border: none; }
  .btn-primary:hover {
    background-color: #163844;
    color: #f1f4f9;
    border: none; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background: #f1f4f9;
  color: #163844;
  margin-top: 99px;
  overflow-x: hidden; }

.second, .fourth, .sixth {
  color: #f1f4f9;
  background: #163844; }
  .second:before, .fourth:before, .sixth:before {
    background: #163844; }
  .second:after, .fourth:after, .sixth:after {
    background: #163844; }

.first, .second, .third, .fourth, .fifth, .sixth {
  position: relative;
  text-align: center; }
  .first .row:first-of-type, .second .row:first-of-type, .third .row:first-of-type, .fourth .row:first-of-type, .fifth .row:first-of-type, .sixth .row:first-of-type {
    padding-top: 120px; }
  .first .row:last-of-type, .second .row:last-of-type, .third .row:last-of-type, .fourth .row:last-of-type, .fifth .row:last-of-type, .sixth .row:last-of-type {
    padding-bottom: 120px; }
  .first:before, .second:before, .third:before, .fourth:before, .fifth:before, .sixth:before {
    display: block;
    content: "";
    position: absolute;
    width: 200%;
    top: 0;
    bottom: 0;
    margin: 0;
    right: 100%; }
  .first:after, .second:after, .third:after, .fourth:after, .fifth:after, .sixth:after {
    display: block;
    content: "";
    position: absolute;
    width: 200%;
    top: 0;
    bottom: 0;
    margin: 0;
    left: 100%; }

.first .glyphicon {
  font-size: 30px;
  top: 9px;
  left: -43px; }
.first input {
  height: 50px;
  width: 60%;
  padding: 4px 13px;
  margin: 10px 0 0 36px;
  transition: background-color 2s ease;
  border: 1px solid #163844; }
  .first input:focus {
    background: #163844;
    color: #fff;
    border: 1px solid #fff; }
.first .row:first-of-type {
  padding-top: 170px; }
.first .row:last-of-type {
  padding-bottom: 170px; }

.second .table {
  margin-top: 50px; }
.second .cl-effect-1 a {
  color: #f1f4f9;
  font-size: 1.6em; }

.third .glyphicon {
  font-size: 90px;
  margin: 40px 0; }

.fourth .glyphicon {
  font-size: 70px;
  margin: 30px 0 15px 0; }

.fifth .glyphicon {
  font-size: 35px;
  margin: 10px 10px 20px 10px; }

.navbar-default {
  background: #163844;
  color: #f1f4f9;
  min-height: 100px;
  border-color: #fff; }
  .navbar-default .container {
    padding-top: 20px;
    font-size: 20px; }
  .navbar-default .navbar-header a {
    font-size: 20px; }
  .navbar-default .navbar-right .glyphicon {
    font-size: 30px;
    top: 9px;
    left: 5px;
    -webkit-transition-duration: 1.8s;
    -moz-transition-duration: 1.8s;
    -o-transition-duration: 1.8s;
    transition-duration: 1.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow: hidden; }
  .navbar-default .navbar-right a:hover .glyphicon {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg); }

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: #fff;
  transition: color 2s ease; }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
    color: #f1f4f9; }
  .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav > li > a:focus {
    color: #f1f4f9;
    box-shadow: none !important; }

.modal-dialog {
  margin-top: 180px;
  width: 400px; }

.modal-content {
  border-radius: 0;
  border: none;
  background: #f1f4f9;
  box-shadow: none;
  text-align: center; }
  .modal-content img {
    width: 40px; }

.modal-body {
  padding: 25px; }

.table > tbody > tr > td {
  padding: 14px; }
  .table > tbody > tr > td .glyphicon {
    font-size: 28px;
    margin-left: 12px; }

.table > thead > tr > td {
  padding: 14px;
  font-size: 1.3em;
  background: #f1f4f9;
  color: #163844; }
  .table > thead > tr > td .glyphicon {
    font-size: 26px;
    margin-left: 6px; }

.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 1.3s, opacity 0.2s;
  -moz-transition: -moz-transform 1.3s, opacity 0.2s;
  transition: transform 1.3s, opacity 0.2s; }

.cl-effect-1 a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px); }

.cl-effect-1 a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px); }

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px); }

/*# sourceMappingURL=styles.css.map */
