// ====== // ===== // Modals // ====== // ===== //
.modal-dialog {

}

.modal-header {
  border-bottom: 1px solid $iprimary;
  a {
    color: $primary;
    font-weight: 400;
    &:hover {
      color: $third;
    }
  }
  .close {
    color: $primary;
    opacity: 0.6;
    font-size:28px;
    &:hover, &:focus {
      opacity: 1;
    }
  }
}
.modal-title {
  padding-bottom: 10px;
  .glyphicon {
    font-size: 11px;
    top: 0;
  }
}
.modal-content {
  border-radius: 0;
  border: none;
  background: $secondary;
  color: $primary;
  box-shadow: none;
  text-align: center;
  img {
    width: 30px;
    margin-bottom: 10px;
  }
}
.modal-body {
  padding: 20px;
}

#new-signal {
  .navbar-form .form-control {
    display: block;
  }
}

// ====== // ===== // Opret ny signal // ====== // ===== //
#new-signal {
  .modal-content {
    background: $secondary;
    color: $primary;
    border-radius: 0 5px 0 0;
    .rate-area {
      margin: 8px 0 0 0;
      input, textarea {
        border: 1px solid $iprimary;
        background: $secondary;
        padding: 10px;
        min-height: 47px;
        color: $primary;
      }
    }
    .signal-section {
      margin:0 -15px 20px -15px;
    }
    .btn-default {
      font-size: 1.2em;
    }
    .show-more {
      margin-top: 20px;
    }
    .form-group {
      margin: 0;
    }
    h4.pull-left {
      margin: 10px 0 0 15px;
    }
    .choose-action {
      margin:-12px 0 0 20px;
    }
    .radio {
      margin-bottom:0;
      display:inline-block;
      margin-right:40px;
    }
    .radio label, .checkbox label {
      display: inline-block;
      text-align: left;
      padding: 4px 0;
    }
    textarea {
      width: 100%;
      min-height: 200px !important;
    }
    input {
      max-width: 93%;
    }
    .modal-dialog {
      width: 40%;
    }
    .modal-body {
      text-align: left;
      label {
        padding-left: 2px;
        margin-top: 10px;
        font-size: 1.3em;
        font-weight: 300;
      }
      .col-sm-6 {
        input {
          max-width:100%;
        }
        h4.pull-left {
          margin: 20px 0 5px 0;
        }
      }
      .glyphicon-plus {
        top: -37px;
        right: -2px;
        font-size: 24px;
        @include colortransition;
        float: right;
        margin-bottom: -20px;
        color:$tprimary;
        &:hover {
          cursor: pointer;
          color: $third;
        }
      }
      .glyphicon-calendar {
        font-size:24px;
        float:right;
        margin:-38px 9px 0 0;
        color:$tprimary;
        @include colortransition;
        &:hover {
          cursor:pointer;
          color:$third;
        }
      }
    }
    .filter-options .dropdown-menu {
      background: $primary;
      top: 45px;
      width: 180px;
      li a {
        min-width: 180px;
        font-size: 1.2em;
        padding: 7px 19px;
      }
    }
  }
}
