// ====== // ===== // post.html // ====== // ===== //
#post {

  .navbar-right a:hover img {}

  .first {
    .row:first-of-type {padding-top:62px;}
    .row:last-of-type {padding-bottom:70px;}
    .disclaimer {margin:20px 0 0 0;}
  }

  .second {
    .radio {display: inline-block;padding-right: 36px;margin:4px 0;
      label {font-weight:300;}}
    ul li {display:block;color:$secondary;padding:4px;}}
}

.filter-options {text-align:left;margin-top:0;padding: 7px 0 14px 0;
  p {padding-bottom:3px;font-weight:500;}}

// ====== // ===== // profile.html // ====== // ===== //

#profile {
  .navbar-default .navbar-right {
    .glyphicon {right:0;font-size:1.3em;margin-right:3px;top: 5px;
      &:hover {color:$fourth;}}
    a {margin-right:14px;
      &:hover {cursor:pointer;}
      &:hover span {@include rotate90;@include rotatetransition;}}
  }
  .first {
    .disclaimer {margin:20px 0 0 0;}
    .row:first-of-type {padding-top:50px;}
    .row:last-of-type {padding-bottom:60px;}
  }

  .profile-tabs table thead tr td a, .own-signals table thead tr td a {@include tableheads;
    span {display:none;}}

  .filter-options {margin:0;}
  .second {
    .row:first-of-type {padding-top:100px;}
    .table {margin-top:0;
      thead tr td {padding: 5px 0 10px 0;}
      a {font-weight: 300;}}
    .radio {display: inline-block;padding-right: 36px;margin:4px 0;
      label {font-weight:300;}}
    ul li {display:block;color:$secondary;}
    .col-sm-3 h3 {border-bottom:1px solid $third;margin:20px 0;}
  }
  .own-signals {margin-top:20px;
    tbody tr td:nth-last-child(1) {padding:14px 0 10px 10px;text-align:left;width:65%;}
  }
}

// ====== // ===== // stock.html // ====== // ===== //

#stock {
  .first {
    .disclaimer {margin: 20px 0 0 0;}
    .row:first-of-type {padding-top: 50px;}
    .row:last-of-type {padding-bottom: 60px;}
  }
  .nav-tabs {border-bottom:1px solid $secondary;}
  .second {
    .table thead tr td a {@include tableheads;
      span {display:none;}}
  }
  .stock-overview {width:30%;float:left;
    thead tr td {padding:12px;background:transparent;color:$secondary;font-size:1.4em;font-weight: 300;display:none;}
    tbody {background:$primary;color:$secondary;
      tr:hover {cursor:default;background:$secondary;}
      tr td {padding:12px;border-bottom:1px solid $secondary;font-weight:300;
      &:last-of-type {padding-right:0;border-right:1px solid $secondary;}}
      tr:last-of-type td {border-bottom:1px solid $primary;}
      tr:last-of-type:hover td {border-bottom:1px solid $secondary;}
    tr:first-of-type td {border-top:1px solid $primary;}}
   }

  .stock-news {
    tbody tr td:last-of-type {text-align:left;padding-top:14px;}
    thead tr {border-bottom:1px solid $fourth;}
  }

  #tab1 {min-height:298px;}
  #tab2 {min-height:0;height:277px;overflow:auto;margin-bottom:21px;border:1px solid $primary;}
}