// ====== // ===== // Colours // ====== // ===== //
$primary:rgb(38, 42, 51); // #f1f4f9; // #263248;
$secondary: rgb(255, 255, 255); //#2d3135; // #7E8AA2;
$third:rgb(0, 139, 255); //#FF9800

$oprimary:rgba(38, 42, 51, 0.85);
$osecondary:rgba(255, 255, 255, 0.8);
$othird:rgba(0, 139, 255, 0.3);

$darkGrey: #212320;
$lightGrey: #DDDDDD;
$signalHover: #E6E2AF;
$mediumOverlay: rgba(241, 244, 249, 0.6);
$darkOverlay: rgba(0, 0, 0, 0.2);

$buy: #008e11; //199900
$hold: #dddddd;
$sell: #D40D12;

// ====== // ===== // Fonts // ====== // ===== //
$font: 'Lato', sans-serif;

// ====== // ===== // z-indexes // ====== // ===== //
$zdex0: 10;
$zdex1: 20;
$zdex2: 30;
$zdex3: 40;