// ====== // ===== // Variables // ====== // ===== //
$primary:#26393D;// #f1f4f9; // #263248;
$secondary: #FFFAE4 ;//#2d3135; // #7E8AA2;
$third:#FFFFFF; //#FF9800
$fourth:#FF2900;

$darkGrey: #212320;
$lightGrey: #DDDDDD;
$signalHover: #E6E2AF;
$mediumOverlay: rgba(241, 244, 249, 0.6);
$darkOverlay: rgba(0, 0, 0, 0.2);

$buy: #199900;
$hold: #DE8A00;
$sell: #D40D12;

$font: 'Lato', sans-serif;