textarea:active,
textarea:focus,
button:focus,
button:active,
a:focus,
a:active {
  outline: 0 !important;
  -webkit-appearance: none; }

h1, h2, h3, h4 {
  font-weight: 300; }

h1 {
  font-size: 2.4em; }

p, td {
  font-size: 1.1em; }

a {
  color: #26393D; }

a:hover {
  text-decoration: none;
  color: #FFFFFF;
  transition: color 1.5s ease; }

ul li {
  list-style: none;
  display: inline-block; }

input[type="text"], textarea {
  outline: none;
  box-shadow: none !important;
  font-size: 1.3em; }

.buy {
  color: #199900; }

.hold {
  color: #26393D; }

.sell {
  color: #D40D12; }

.disclaimer {
  font-style: italic;
  font-size: 0.9em; }

.overall-signal {
  font-size: 0.7em;
  font-weight: 300;
  padding: 9px;
  background: #199900;
  color: #FFFFFF;
  border-bottom: 1px solid #199900; }

.signal-text {
  margin-top: -14px; }

hr {
  color: #26393D;
  border-top: 1px solid #26393D;
  margin-top: 50px; }

.form-control {
  border-radius: 0; }

.contact-area {
  margin: 0 0 0 -3.15em; }
  .contact-area li {
    height: 150px;
    width: 150px;
    margin: 0 10px; }

.btn {
  border-radius: 0;
  font-weight: 300; }

.btn-primary {
  background-color: #26393D;
  color: #FFFAE4;
  font-size: 1.3em;
  border: none; }
  .btn-primary:hover {
    background-color: #FFFAE4;
    color: #FFFFFF;
    border: none; }

.btn-default {
  border: 1px solid #26393D;
  background: #FFFAE4;
  color: #26393D;
  padding: 6px 22px; }
  .btn-default:hover {
    transition: color 1.5s ease;
    transition: background-color 1.2s ease;
    background: #26393D;
    color: #FFFAE4; }

.login {
  margin-top: 14px;
  font-size: 0.9em; }

.show-more .btn {
  font-size: 1.3em; }

.close {
  font-size: 28px;
  color: #FFFFFF;
  text-shadow: none; }
  .close:hover {
    color: #FF2900; }

.underline a::after {
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #FF2900;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  transform: translateY(5px); }

.underline a:hover::after, .underline a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px); }

.btn .caret {
  margin-left: 3px; }

.profile-large {
  border-radius: 50%;
  width: 150px; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background: #26393D;
  color: #FFFAE4;
  margin-top: 70px;
  overflow-x: hidden; }

.container {
  padding: 0 40px; }

.second, .fourth, .fifth, .sixth {
  color: #26393D;
  background: #FFFAE4; }
  .second:before, .fourth:before, .fifth:before, .sixth:before {
    background: #FFFAE4; }
  .second:after, .fourth:after, .fifth:after, .sixth:after {
    background: #FFFAE4; }

.first, .second, .third, .fourth, .fifth, .sixth {
  position: relative;
  text-align: center; }
  .first .row:first-of-type, .second .row:first-of-type, .third .row:first-of-type, .fourth .row:first-of-type, .fifth .row:first-of-type, .sixth .row:first-of-type {
    padding-top: 50px; }
  .first .row:last-of-type, .second .row:last-of-type, .third .row:last-of-type, .fourth .row:last-of-type, .fifth .row:last-of-type, .sixth .row:last-of-type {
    padding-bottom: 70px; }
  .first:before, .second:before, .third:before, .fourth:before, .fifth:before, .sixth:before {
    display: block;
    content: "";
    position: absolute;
    width: 200%;
    top: 0;
    bottom: 0;
    margin: 0;
    right: 100%; }
  .first:after, .second:after, .third:after, .fourth:after, .fifth:after, .sixth:after {
    display: block;
    content: "";
    position: absolute;
    width: 200%;
    top: 0;
    bottom: 0;
    margin: 0;
    left: 100%; }

.first {
  color: #FFFFFF; }
  .first .glyphicon {
    font-size: 30px;
    top: 9px;
    left: -43px;
    color: #26393D; }
  .first input {
    height: 50px;
    width: 60%;
    padding: 4px 13px;
    margin: 10px 0 0 36px;
    transition: background-color 1.2s ease;
    border: 1px solid #FFFAE4;
    background: #FFFAE4; }
    .first input:focus {
      background: #26393D;
      color: #fff;
      border: 1px solid #FFFFFF; }
  .first .row:first-of-type {
    padding-top: 122px; }
  .first .row:last-of-type {
    padding-bottom: 170px; }

.second h1 {
  margin-bottom: 30px; }
.second .disclaimer {
  text-align: left;
  margin-top: 45px; }
.second a {
  color: #26393D;
  transition: color 1.5s ease; }
  .second a:hover {
    color: #FFFFFF; }
.second .table thead tr td {
  padding: 7px 0 12px 0;
  font-size: 1.1em;
  background: #26393D;
  color: #FFFAE4;
  font-weight: 400; }
  .second .table thead tr td .glyphicon {
    font-size: 24px;
    margin-left: 6px;
    top: 5px; }
  .second .table thead tr td .glyphicon-transfer {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    margin-left: 0; }
  .second .table thead tr td a {
    color: #FFFFFF;
    font-weight: 300; }
.second .table tbody tr {
  font-weight: 400; }
  .second .table tbody tr td {
    padding: 14px 0 10px 0;
    border-top: none;
    border-bottom: 1px solid #26393D; }
    .second .table tbody tr td img {
      border-radius: 50%;
      width: 40px; }
    .second .table tbody tr td:nth-last-child(1) {
      padding: 6px 0 6px 0; }
    .second .table tbody tr td .glyphicon {
      font-size: 28px;
      margin-left: 12px; }
.second .table tbody tr:hover {
  background: #FFFFFF;
  cursor: pointer;
  transition: background-color 1.2s ease;
  color: #212320; }

.third {
  color: #FFFFFF; }
  .third p {
    padding: 0 10%; }
  .third .glyphicon {
    font-size: 120px;
    margin: 2px 0 10px 0;
    min-width: 100px; }
  .third .row:last-of-type {
    padding-bottom: 110px; }

.fourth img {
  border-radius: 50%;
  width: 100px;
  margin: 40px 0 22px 0; }
.fourth .col-sm-4 p:nth-child(3) {
  margin: 10px 80px;
  padding-top: 10px;
  border-top: 1px solid #FF2900; }
.fourth .col-sm-4 p:nth-child(4) {
  font-size: 1em;
  font-style: italic; }

.fifth .glyphicon {
  font-size: 30px;
  margin: 0 10px 20px 10px;
  color: #FF2900; }
.fifth a {
  color: #26393D;
  font-size: 0.8em; }
  .fifth a:hover {
    color: #FF2900; }
.fifth .row:first-of-type {
  padding-top: 0; }
.fifth .row:last-of-type {
  padding-bottom: 30px; }

.market-resume > tbody > tr > td {
  border-top: 1px solid #FFFFFF;
  padding: 10px 0; }
  .market-resume > tbody > tr > td:last-of-type {
    text-align: right; }

.market-resume {
  font-size: 0.8em;
  width: 250px;
  margin: 0 auto 0 auto;
  text-align: left;
  border-bottom: 1px solid #FFFFFF; }

.stock-signals {
  margin-top: 20px; }
  .stock-signals tbody tr td {
    width: 33.3%; }

thead tr {
  border-bottom: 1px solid #FF2900; }
  thead tr td a {
    margin: 7px 0 5px 0;
    display: block;
    font-weight: 300;
    font-size: 1.15em; }

.stock-graph {
  width: 70%;
  margin: 0;
  float: left;
  background: #26393D;
  color: #FFFAE4;
  display: block;
  height: 277px;
  border-left: 1px solid #FFFAE4; }

.navbar {
  margin: 0; }

.navbar-default {
  background: #26393D;
  color: #FFFAE4;
  min-height: 70px;
  border-color: #FF2900;
  z-index: 3; }
  .navbar-default .container {
    padding-top: 7px;
    font-size: 20px; }
  .navbar-default .navbar-header a {
    font-size: 0.8em; }
  .navbar-default .navbar-right .glyphicon {
    font-size: 34px;
    top: 7px;
    right: 22px; }
    .navbar-default .navbar-right .glyphicon:hover {
      color: #FFFFFF; }
  .navbar-default .navbar-nav li a {
    padding: 0; }

.navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
  color: #FFFFFF;
  transition: color 1.5s ease;
  font-size: 0.9em;
  padding-right: 0; }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
    color: #FF2900; }
  .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav li a:focus {
    color: #26393D;
    box-shadow: none !important; }

.navbar-default .navbar-nav li a img {
  border-radius: 50%;
  width: 50px; }

.navbar-default .navbar-brand {
  color: #FFFFFF; }

.global-menu ul {
  margin: 9px 0 0 -40px; }
  .global-menu ul li a {
    background: #FFFAE4;
    padding: 10px 13px 12px 13px;
    margin: 0 7px 0 0;
    border: 1px solid #26393D;
    border-top: none; }
    .global-menu ul li a:hover {
      transition: color 1.5s ease;
      color: #FF2900; }

.global-menu {
  height: 30px;
  position: fixed;
  top: 70px;
  transition: top 1.2s ease-in-out;
  width: 100%;
  z-index: 2; }

.nav-up {
  top: -30px; }

.dropdown-toggle {
  padding: 8px 12px; }

.btn-group.open .dropdown-toggle {
  box-shadow: none; }

.btn-default:focus, .open > .btn-default.dropdown-toggle {
  background: #26393D;
  border-color: #26393D;
  color: #FFFAE4; }

.dropdown-menu {
  border-radius: 0;
  background: #26393D;
  color: #FFFAE4;
  min-width: 145px;
  top: 34px;
  border: 1px solid #26393D;
  border-top: none; }
  .dropdown-menu li a {
    padding: 3px 7px;
    font-weight: 300;
    color: #FFFAE4; }
    .dropdown-menu li a:hover {
      color: #FF2900;
      background: none; }

.nav-tabs {
  border-bottom: 1px solid #DDDDDD; }
  .nav-tabs > li > a {
    border-radius: 0;
    font-size: 1.2em;
    margin-right: 10px;
    background: #DDDDDD; }
    .nav-tabs > li > a:hover {
      color: #FF2900; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #FFFAE4;
  background: #26393D;
  border: 1px solid #26393D; }

#tab1, #tab2, #tab3 {
  min-height: 562px; }

#post .first .row:first-of-type {
  padding-top: 62px; }
#post .first .row:last-of-type {
  padding-bottom: 70px; }
#post .first .disclaimer {
  margin: 20px 0 0 0; }
#post .second .radio {
  display: inline-block;
  padding-right: 36px;
  margin: 4px 0; }
  #post .second .radio label {
    font-weight: 300; }
#post .second ul li {
  display: block;
  color: #FFFAE4;
  padding: 4px; }

.filter-options {
  text-align: left;
  margin-top: 0;
  padding: 7px 0 14px 0; }
  .filter-options p {
    padding-bottom: 3px;
    font-weight: 500; }

#profile .navbar-default .navbar-right .glyphicon {
  right: 0;
  font-size: 1.3em;
  margin-right: 3px;
  top: 5px; }
  #profile .navbar-default .navbar-right .glyphicon:hover {
    color: #FF2900; }
#profile .navbar-default .navbar-right a {
  margin-right: 14px; }
  #profile .navbar-default .navbar-right a:hover {
    cursor: pointer; }
  #profile .navbar-default .navbar-right a:hover span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transition-duration: 1.2s;
    -moz-transition-duration: 1.2s;
    -o-transition-duration: 1.2s;
    transition-duration: 1.2s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow: hidden; }
#profile .first .disclaimer {
  margin: 20px 0 0 0; }
#profile .first .row:first-of-type {
  padding-top: 50px; }
#profile .first .row:last-of-type {
  padding-bottom: 60px; }
#profile .profile-tabs table thead tr td a, #profile .own-signals table thead tr td a {
  margin: 7px 0 5px 0;
  display: block;
  font-weight: 300;
  font-size: 1.15em; }
  #profile .profile-tabs table thead tr td a span, #profile .own-signals table thead tr td a span {
    display: none; }
#profile .filter-options {
  margin: 0; }
#profile .second .row:first-of-type {
  padding-top: 100px; }
#profile .second .table {
  margin-top: 0; }
  #profile .second .table thead tr td {
    padding: 5px 0 10px 0; }
  #profile .second .table a {
    font-weight: 300; }
#profile .second .radio {
  display: inline-block;
  padding-right: 36px;
  margin: 4px 0; }
  #profile .second .radio label {
    font-weight: 300; }
#profile .second ul li {
  display: block;
  color: #FFFAE4; }
#profile .second .col-sm-3 h3 {
  border-bottom: 1px solid #FFFFFF;
  margin: 20px 0; }
#profile .own-signals {
  margin-top: 20px; }
  #profile .own-signals tbody tr td:nth-last-child(1) {
    padding: 14px 0 10px 10px;
    text-align: left;
    width: 65%; }

#stock .first .disclaimer {
  margin: 20px 0 0 0; }
#stock .first .row:first-of-type {
  padding-top: 50px; }
#stock .first .row:last-of-type {
  padding-bottom: 60px; }
#stock .nav-tabs {
  border-bottom: 1px solid #FFFAE4; }
#stock .second .table thead tr td a {
  margin: 7px 0 5px 0;
  display: block;
  font-weight: 300;
  font-size: 1.15em; }
  #stock .second .table thead tr td a span {
    display: none; }
#stock .stock-overview {
  width: 30%;
  float: left; }
  #stock .stock-overview thead tr td {
    padding: 12px;
    background: transparent;
    color: #FFFAE4;
    font-size: 1.4em;
    font-weight: 300;
    display: none; }
  #stock .stock-overview tbody {
    background: #26393D;
    color: #FFFAE4; }
    #stock .stock-overview tbody tr:hover {
      cursor: default;
      background: #FFFAE4; }
    #stock .stock-overview tbody tr td {
      padding: 12px;
      border-bottom: 1px solid #FFFAE4;
      font-weight: 300; }
      #stock .stock-overview tbody tr td:last-of-type {
        padding-right: 0;
        border-right: 1px solid #FFFAE4; }
    #stock .stock-overview tbody tr:last-of-type td {
      border-bottom: 1px solid #26393D; }
    #stock .stock-overview tbody tr:last-of-type:hover td {
      border-bottom: 1px solid #FFFAE4; }
    #stock .stock-overview tbody tr:first-of-type td {
      border-top: 1px solid #26393D; }
#stock .stock-news tbody tr td:last-of-type {
  text-align: left;
  padding-top: 14px; }
#stock .stock-news thead tr {
  border-bottom: 1px solid #FF2900; }
#stock #tab1 {
  min-height: 298px; }
#stock #tab2 {
  min-height: 0;
  height: 277px;
  overflow: auto;
  margin-bottom: 21px;
  border: 1px solid #26393D; }

.modal-dialog {
  margin-top: 180px;
  width: 400px; }

.modal-header {
  border-bottom: none; }
  .modal-header a {
    color: #26393D;
    font-weight: 400; }
    .modal-header a:hover {
      color: #212320; }

.modal-title {
  padding-bottom: 10px; }
  .modal-title .glyphicon {
    font-size: 11px;
    top: 0; }

.modal-content {
  border-radius: 0;
  border: none;
  background: #FFFAE4;
  color: #26393D;
  box-shadow: none;
  text-align: center; }
  .modal-content img {
    width: 30px;
    margin-bottom: 10px; }

.modal-body {
  padding: 25px; }

#new-signal .navbar-form .form-control {
  display: block; }

#new-signal .modal-content {
  background: #26393D;
  color: #FFFFFF; }
  #new-signal .modal-content .rate-area {
    margin: 12px 0; }
    #new-signal .modal-content .rate-area input, #new-signal .modal-content .rate-area textarea {
      border: 1px solid #26393D;
      background: #FFFAE4;
      padding: 10px;
      min-height: 47px;
      color: #26393D; }
#new-signal .radio {
  margin: 5px 0 0 21px; }
#new-signal .radio label, #new-signal .checkbox label {
  display: inline-block;
  text-align: left;
  padding: 4px 0;
  width: 66px; }
#new-signal textarea {
  width: 100%;
  min-height: 70px; }
#new-signal .modal-dialog {
  width: 30%; }
#new-signal .modal-body {
  text-align: left; }
  #new-signal .modal-body label {
    padding-left: 2px;
    margin-top: 10px;
    font-size: 1.3em;
    font-weight: 300; }

/*# sourceMappingURL=custom.css.map */
