textarea:active,
textarea:focus,
button:focus,
button:active,
a:focus,
a:active {
  outline: 0 !important;
  -webkit-appearance: none; }

h1, h2, h3, h4 {
  font-weight: 300; }

h1 {
  font-size: 2.4em; }

p, td {
  font-size: 1.1em; }

a {
  color: #262a33;
  transition: color 0.8s ease-in-out;
  -webkit-transition: color 0.8s ease-in-out;
  -moz-transition: color 0.8s ease-in-out; }

a:hover {
  text-decoration: none;
  color: white; }

ul li {
  list-style: none;
  display: inline-block; }

input[type="text"], textarea {
  outline: none;
  box-shadow: none !important;
  font-size: 1.3em; }

.buy {
  color: #008bff; }

.hold {
  color: #262a33; }

.sell {
  color: #262a33; }

.disclaimer {
  font-style: italic;
  font-size: 0.9em; }

.overall-signal {
  font-size: 0.7em;
  font-weight: 300;
  padding: 9px;
  background: #008e11;
  color: white;
  border-bottom: 1px solid #008e11; }

.signal-text {
  margin-top: -14px; }

.logout {
  font-size: 0.7em;
  margin: 16px 0 0 8px; }

.stock-title {
  margin: -20px 0 20px 0; }

hr {
  color: #262a33;
  border-top: 1px solid #262a33;
  margin-top: 50px; }

.form-control {
  border-radius: 0; }

.contact-dev i {
  margin: 18px 12px;
  color: #008bff;
  transition: color 0.8s ease-in-out;
  -webkit-transition: color 0.8s ease-in-out;
  -moz-transition: color 0.8s ease-in-out; }
  .contact-dev i:hover {
    color: #262a33; }

.btn {
  border-radius: 0;
  font-weight: 300; }

.btn-primary {
  background-color: #262a33;
  color: white;
  font-size: 1.3em;
  border: none; }
  .btn-primary:hover {
    background-color: white;
    color: white;
    border: none; }

/* Findes den her?? */
.container .btn-default {
  border: 1px solid #008bff;
  border-bottom: 4px solid #008bff;
  color: #262a33;
  padding: 8px 20px;
  transition: color 0.8s ease-in-out;
  -webkit-transition: color 0.8s ease-in-out;
  -moz-transition: color 0.8s ease-in-out;
  transition: background-color 0.8s ease-in-out;
  -webkit-transition: background-color 0.8s ease-in-out;
  -moz-transition: background-color 0.8s ease-in-out; }
  .container .btn-default:hover, .container .btn-default:focus, .container .btn-default:hover .fa-spin, .container .btn-default:focus .fa-spin {
    color: #008bff;
    background: rgba(0, 139, 255, 0.3);
    border: 1px solid #008bff;
    border-bottom: 4px solid #008bff; }
  .container .btn-default:hover .fa-spin, .container .btn-default:focus .fa-spin {
    border: none;
    background: none; }
  .container .btn-default .fa-spin {
    margin: 2px 0 0 5px;
    color: #262a33; }

.show-more .btn {
  font-size: 1.4em; }

.close {
  font-size: 28px;
  color: white;
  text-shadow: none; }
  .close:hover {
    color: #008bff; }

.new-signal:hover .glyphicon {
  color: #008bff; }
.new-signal .glyphicon {
  color: #262a33;
  transition: color 0.8s ease-in-out;
  -webkit-transition: color 0.8s ease-in-out;
  -moz-transition: color 0.8s ease-in-out; }

.btn .caret {
  margin-left: 3px; }

.profile-large {
  border-radius: 50%;
  width: 150px; }

html {
  overflow-y: scroll; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background: #262a33;
  color: white;
  margin-top: 70px;
  overflow-x: hidden; }

.container {
  padding: 0 40px; }

.second, .fourth, .sixth {
  color: #262a33;
  background: white; }
  .second:before, .fourth:before, .sixth:before {
    background: white; }
  .second:after, .fourth:after, .sixth:after {
    background: white; }

.first, .second, .third, .fourth, .fifth, .sixth {
  position: relative;
  text-align: center; }
  .first .row:first-of-type, .second .row:first-of-type, .third .row:first-of-type, .fourth .row:first-of-type, .fifth .row:first-of-type, .sixth .row:first-of-type {
    padding-top: 50px; }
  .first .row:last-of-type, .second .row:last-of-type, .third .row:last-of-type, .fourth .row:last-of-type, .fifth .row:last-of-type, .sixth .row:last-of-type {
    padding-bottom: 70px; }
  .first:before, .second:before, .third:before, .fourth:before, .fifth:before, .sixth:before {
    display: block;
    content: "";
    position: absolute;
    width: 200%;
    top: 0;
    bottom: 0;
    margin: 0;
    right: 100%; }
  .first:after, .second:after, .third:after, .fourth:after, .fifth:after, .sixth:after {
    display: block;
    content: "";
    position: absolute;
    width: 200%;
    top: 0;
    bottom: 0;
    margin: 0;
    left: 100%; }

.first {
  color: white; }
  .first .glyphicon {
    font-size: 30px;
    top: 9px;
    left: -43px;
    color: #262a33; }
  .first input {
    height: 50px;
    width: 58%;
    padding: 4px 13px;
    margin: 10px 0 0 36px;
    transition: background-color 0.8s ease-in-out;
    -webkit-transition: background-color 0.8s ease-in-out;
    -moz-transition: background-color 0.8s ease-in-out;
    border: 1px solid white;
    background: white;
    border-radius: 0 5px 0 0; }
    .first input:focus {
      background: #262a33;
      color: #fff;
      border: 1px solid white; }
  .first .row:first-of-type {
    padding-top: 50px; }
  .first .row:last-of-type {
    padding-bottom: 90px; }

.second h1 {
  margin-bottom: 30px; }
.second .table {
  margin-bottom: 40px; }
.second .disclaimer {
  text-align: left;
  margin-top: 45px; }
.second tbody tr:last-of-type {
  border-bottom: 4px solid #008bff; }
.second a {
  color: #262a33;
  transition: color 0.8s ease-in-out;
  -webkit-transition: color 0.8s ease-in-out;
  -moz-transition: color 0.8s ease-in-out; }
  .second a:hover {
    color: white; }
.second .table thead tr td {
  padding: 7px 0 12px 0;
  font-size: 1.1em;
  background: #008bff;
  color: white;
  font-weight: 400; }
  .second .table thead tr td .glyphicon {
    font-size: 24px;
    margin-left: 6px;
    top: 5px; }
  .second .table thead tr td .glyphicon-transfer {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    margin-left: 0; }
  .second .table thead tr td a {
    color: white;
    font-weight: 300;
    font-size: 1.25em; }
.second .table tbody tr {
  font-weight: 400; }
  .second .table tbody tr td {
    padding: 10px 0;
    border-top: none;
    border-bottom: 1px solid #008bff;
    vertical-align: middle; }
    .second .table tbody tr td img {
      border-radius: 50%;
      width: 56px; }
    .second .table tbody tr td .glyphicon {
      font-size: 28px;
      margin-left: 12px; }
.second .table tbody tr {
  transition: background-color 0.8s ease-in-out;
  -webkit-transition: background-color 0.8s ease-in-out;
  -moz-transition: background-color 0.8s ease-in-out; }
  .second .table tbody tr td {
    transition: color 0.8s ease-in-out;
    -webkit-transition: color 0.8s ease-in-out;
    -moz-transition: color 0.8s ease-in-out; }
  .second .table tbody tr:hover {
    background: rgba(0, 139, 255, 0.3);
    cursor: pointer;
    color: #262a33; }
.second .friend-subscriptions {
  margin-top: 40px; }

.third {
  color: white; }
  .third p {
    padding: 0 14%; }
  .third .glyphicon {
    font-size: 120px;
    margin: 2px 0 10px 0;
    min-width: 100px; }
  .third .row:last-of-type {
    padding-bottom: 110px; }

.fourth {
  font-weight: 400; }
  .fourth img {
    border-radius: 50%;
    width: 100px;
    margin: 40px 0 22px 0; }
  .fourth .col-sm-4 p:nth-child(3) {
    margin: 10px 80px;
    padding-top: 10px;
    border-top: 1px solid #008bff; }
  .fourth .col-sm-4 p:nth-child(4) {
    font-size: 1em;
    font-style: italic; }

.fifth {
  color: white;
  background: #262a33; }
  .fifth:before {
    background: #262a33; }
  .fifth:after {
    background: #262a33; }
  .fifth .glyphicon {
    font-size: 40px;
    margin: 0 10px 20px 10px;
    color: #008bff; }
  .fifth a {
    color: white;
    font-size: 1em; }
    .fifth a:hover {
      color: #008bff; }
  .fifth .row:first-of-type {
    padding-top: 30px; }
  .fifth .row:last-of-type {
    padding-bottom: 40px; }

.market-resume > tbody > tr > td {
  border-top: 1px solid white;
  padding: 10px 0; }
  .market-resume > tbody > tr > td:last-of-type {
    text-align: right;
    color: #008bff; }

.market-resume {
  font-size: 0.8em;
  width: 250px;
  margin: 0 auto 0 auto;
  text-align: left;
  border-bottom: 1px solid white;
  color: white; }

.stock-signals {
  margin-top: 20px; }
  .stock-signals tbody tr td {
    width: 33.3%; }

thead tr td a {
  margin: 7px 0 5px 0;
  display: block;
  font-weight: 300;
  font-size: 1.05em; }

.popular-stocks td {
  width: 20%; }

.stock-overview tbody tr:last-of-type {
  border-bottom: none; }

.second .signals-table.table tbody tr:hover {
  background: none;
  color: rgba(38, 42, 51, 0.7); }
.second .signals-table.table tbody td:hover {
  cursor: default;
  background: none;
  color: rgba(38, 42, 51, 0.7);
  background: transparent; }
.second .signals-table.table tbody td:first-child {
  max-width: 300px;
  text-align: left;
  padding: 10px 10px 10px 0; }
.second .signals-table.table tbody td:nth-child(1n+2) {
  vertical-align: middle;
  padding: 0; }

.table thead tr td:last-child {
  border-radius: 0 5px 0 0; }

.stock-tabs {
  margin-top: 10px; }

.stock-graph {
  width: 70%;
  margin: 0;
  float: left;
  background: #262a33;
  color: white;
  display: block;
  height: 277px;
  border-left: 1px solid white; }

.tooltip {
  font-size: 1em;
  text-align: center;
  position: fixed;
  background: #262a33;
  color: white;
  padding: 7px 11px 9px 11px;
  border-radius: 0 5px 0 0; }

.navbar {
  margin: 0; }

.navbar-default {
  background: #262a33;
  color: white;
  min-height: 70px;
  border-bottom: 2px solid #008bff;
  z-index: 30; }
  .navbar-default .container {
    padding-top: 7px;
    font-size: 20px; }
  .navbar-default .navbar-header a {
    font-size: 1.2em; }
  .navbar-default .navbar-right .glyphicon {
    font-size: 34px;
    top: 7px;
    right: 22px; }
    .navbar-default .navbar-right .glyphicon:hover {
      color: white; }
  .navbar-default .navbar-nav > li {
    margin: 7px 0 0 30px; }
  .navbar-default .navbar-nav > li.profile-nav {
    margin: 0; }
  .navbar-default .navbar-nav > li.active-menu a {
    color: #008bff; }
    .navbar-default .navbar-nav > li.active-menu a:hover {
      cursor: default; }
  .navbar-default .navbar-nav > li.profile-nav.active-menu a img:hover {
    cursor: default; }
  .navbar-default .navbar-nav > li.logout, .navbar-default .navbar-nav > li.login {
    margin: 15px 0 0 10px; }
  .navbar-default .navbar-nav li a {
    padding: 0; }
    .navbar-default .navbar-nav li a span {
      font-size: 0.7em;
      display: block;
      margin: 2px 2px 2px 0; }

.navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
  color: white;
  transition: color 0.8s ease-in-out;
  -webkit-transition: color 0.8s ease-in-out;
  -moz-transition: color 0.8s ease-in-out;
  font-size: 0.9em;
  padding-right: 0; }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
    color: #008bff; }
  .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav li a:focus {
    color: #008bff;
    box-shadow: none !important; }

.navbar-default .navbar-nav li a img {
  border-radius: 50%;
  width: 50px; }

.navbar-default .navbar-brand {
  color: white; }

.dropdown-toggle {
  padding: 8px 12px; }

.btn-group.open .dropdown-toggle {
  box-shadow: none; }

.btn-default:focus, .open > .btn-default.dropdown-toggle {
  background: #262a33;
  border-color: #262a33;
  color: white; }

.dropdown-menu {
  border-radius: 0;
  background: #262a33;
  color: white;
  min-width: 145px;
  top: 47px;
  border: 1px solid #262a33;
  border-top: none;
  margin: 0;
  padding: 3px 0; }
  .dropdown-menu li a {
    padding: 3px 7px;
    font-weight: 300;
    color: white; }
    .dropdown-menu li a:hover {
      color: #008bff;
      background: none; }

.filter-options {
  margin: 0 0 25px 0; }
  .filter-options .btn, .filter-options .dropdown-menu li a {
    font-size: 1.4em;
    transition: background-color 0.8s ease-in-out;
    -webkit-transition: background-color 0.8s ease-in-out;
    -moz-transition: background-color 0.8s ease-in-out; }
    .filter-options .btn i, .filter-options .dropdown-menu li a i {
      margin-left: 5px; }
  .filter-options .dropdown-menu li a {
    padding: 8px 19px;
    min-width: 193px;
    font-size: 1.25em;
    border-top: 1px solid white; }
  .filter-options .dropdown-menu li a:hover {
    background: #008bff;
    color: white; }

.nav-tabs {
  border-bottom: none; }
  .nav-tabs > li > a {
    border-radius: 0 6px 0 0;
    font-size: 1.2em;
    margin-right: 10px;
    background: rgba(0, 139, 255, 0.3);
    padding: 8px 17px;
    transition: color 0.8s ease-in-out;
    -webkit-transition: color 0.8s ease-in-out;
    -moz-transition: color 0.8s ease-in-out; }
    .nav-tabs > li > a:hover {
      color: #262a33;
      background: #008bff;
      border: 1px solid #008bff; }
  .nav-tabs > li.pull-right {
    margin-right: 0;
    background: rgba(38, 42, 51, 0.7);
    color: white;
    padding: 9px 17px;
    font-size: 1.2em;
    border-radius: 0 5px 0 0; }
    .nav-tabs > li.pull-right:hover {
      cursor: default; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: white;
  background: #262a33;
  border: 1px solid #262a33; }

.profile-tabs .nav-tabs > li.active > a, .profile-tabs .nav-tabs > li.active > a:hover, .profile-tabs .nav-tabs > li.active > a:focus {
  color: white;
  background: #008bff;
  border: 1px solid #008bff; }

.profile-tabs .nav-tabs > .active.stock-tab > a {
  background: #262a33;
  border: 1px solid #262a33; }
  .profile-tabs .nav-tabs > .active.stock-tab > a:hover {
    background: #262a33;
    border: 1px solid #262a33; }
  .profile-tabs .nav-tabs > .active.stock-tab > a:focus {
    background: #262a33;
    border: 1px solid #262a33; }

#tab1, #tab2, #tab3 {
  min-height: 562px; }

#index .second .radio {
  display: inline-block;
  padding-right: 36px;
  margin: 4px 0; }
  #index .second .radio label {
    font-weight: 300; }

#post .first .row:first-of-type {
  padding-top: 50px; }
#post .first .row:last-of-type {
  padding-bottom: 60px; }
#post .first .disclaimer {
  margin: 20px 0 0 0; }
#post .second .radio {
  display: inline-block;
  padding-right: 36px;
  margin: 4px 0; }
  #post .second .radio label {
    font-weight: 300; }

#profile .user-rating {
  margin: 0 0 20px 0; }
  #profile .user-rating i {
    color: #008bff; }
#profile .profile-intro {
  margin-top: 20px; }
#profile .navbar-default .navbar-nav li a:hover {
  cursor: pointer; }
#profile .first .disclaimer {
  margin: 20px 0 0 0; }
#profile .first .row:first-of-type {
  padding-top: 50px; }
#profile .first .row:last-of-type {
  padding-bottom: 80px; }
#profile .profile-tabs table thead tr td a, #profile .own-signals table thead tr td a {
  margin: 7px 0 5px 0;
  display: block;
  font-weight: 300;
  font-size: 1.05em; }
  #profile .profile-tabs table thead tr td a span, #profile .own-signals table thead tr td a span {
    display: none; }
#profile .filter-options {
  margin: 0; }
#profile .second .row:first-of-type {
  padding-top: 40px; }
#profile .second .table {
  margin-top: 0; }
  #profile .second .table thead tr td {
    padding: 5px 0 10px 0; }
  #profile .second .table a {
    font-weight: 300; }
#profile .second .radio {
  display: inline-block;
  padding-right: 36px;
  margin: 4px 0; }
  #profile .second .radio label {
    font-weight: 300; }
#profile .second ul li {
  display: block;
  color: white; }
#profile .second .col-sm-3 h3 {
  margin: 18px 0 4px 0;
  padding: 2px 0 4px 0; }
#profile .own-signals {
  margin: 0; }
  #profile .own-signals tbody tr td:nth-last-child(1) {
    text-align: left;
    width: 65%; }

#stock .first .disclaimer {
  margin: 20px 0 0 0; }
#stock .first .row:first-of-type {
  padding-top: 50px; }
#stock .first .row:last-of-type {
  padding-bottom: 80px; }
#stock .nav-tabs {
  border-bottom: 1px solid white; }
#stock .second .table thead tr td a {
  margin: 7px 0 5px 0;
  display: block;
  font-weight: 300;
  font-size: 1.05em; }
  #stock .second .table thead tr td a span {
    display: none; }
#stock .stock-overview {
  width: 30%;
  float: left; }
  #stock .stock-overview thead tr td {
    padding: 12px;
    background: transparent;
    color: white;
    font-size: 1.4em;
    font-weight: 300;
    display: none; }
  #stock .stock-overview tbody {
    background: #262a33;
    color: white; }
    #stock .stock-overview tbody tr:hover {
      cursor: default;
      background: white; }
    #stock .stock-overview tbody tr td {
      padding: 12px;
      border-bottom: 1px solid white;
      font-weight: 300; }
      #stock .stock-overview tbody tr td:last-of-type {
        padding-right: 0;
        border-right: 1px solid white; }
    #stock .stock-overview tbody tr:last-of-type td {
      border-bottom: 1px solid #262a33; }
    #stock .stock-overview tbody tr:last-of-type:hover td {
      border-bottom: 1px solid white; }
    #stock .stock-overview tbody tr:first-of-type td {
      border-top: 1px solid #262a33; }
#stock .stock-news tbody tr td:last-of-type {
  text-align: left;
  padding-top: 14px; }
#stock .stock-news thead tr {
  border-bottom: 1px solid #008bff; }
#stock #tab1 {
  min-height: 298px; }
#stock #tab2 .table thead tr td:last-child {
  border-radius: 0; }

#stocks .first .disclaimer {
  margin: 20px 0 0 0; }
#stocks .first .row:first-of-type {
  padding-top: 50px; }
#stocks .first .row:last-of-type {
  padding-bottom: 80px; }

#subscriptions .second .radio {
  display: inline-block;
  margin-right: 24px; }
#subscriptions .btn-group {
  float: right; }
#subscriptions .col-sm-6 {
  padding: 0 40px; }
#subscriptions .first .disclaimer {
  margin: 20px 0 0 0; }
#subscriptions .first .row:first-of-type {
  padding-top: 50px; }
#subscriptions .first .row:last-of-type {
  padding-bottom: 80px; }

.modal-dialog {
  margin-top: 180px;
  width: 400px; }

.modal-header {
  border-bottom: none; }
  .modal-header a {
    color: #262a33;
    font-weight: 400; }
    .modal-header a:hover {
      color: #008bff; }

.modal-title {
  padding-bottom: 10px; }
  .modal-title .glyphicon {
    font-size: 11px;
    top: 0; }

.modal-content {
  border-radius: 0;
  border: none;
  background: white;
  color: #262a33;
  box-shadow: none;
  text-align: center; }
  .modal-content img {
    width: 30px;
    margin-bottom: 10px; }

.modal-body {
  padding: 25px; }

#new-signal .navbar-form .form-control {
  display: block; }

#new-signal .modal-content {
  background: #262a33;
  color: white; }
  #new-signal .modal-content .rate-area {
    margin: 12px 0; }
    #new-signal .modal-content .rate-area input, #new-signal .modal-content .rate-area textarea {
      border: 1px solid #262a33;
      background: white;
      padding: 10px;
      min-height: 47px;
      color: #262a33; }
#new-signal .radio {
  margin: 5px 0 0 21px; }
#new-signal .radio label, #new-signal .checkbox label {
  display: inline-block;
  text-align: left;
  padding: 4px 0;
  width: 66px; }
#new-signal textarea {
  width: 100%;
  min-height: 70px; }
#new-signal .modal-dialog {
  width: 30%; }
#new-signal .modal-body {
  text-align: left; }
  #new-signal .modal-body label {
    padding-left: 2px;
    margin-top: 10px;
    font-size: 1.3em;
    font-weight: 300; }

#options .modal-content {
  background: #262a33;
  color: white; }
  #options .modal-content a {
    color: white; }
  #options .modal-content .modal-header p {
    font-style: italic;
    margin: 0;
    color: white; }
  #options .modal-content img {
    width: 80px; }
  #options .modal-content .btn-default {
    padding: 10px 20px;
    right: 0; }
  #options .modal-content .modal-body {
    padding: 0 25px 25px 25px; }
  #options .modal-content .row {
    padding: 0 0 10px 0; }
    #options .modal-content .row:last-of-type {
      border-top: 1px solid white;
      padding-top: 20px; }

body.modal-open {
  margin-right: -15px !important; }

/*# sourceMappingURL=custom.css.map */
